:root {
    /* Base Tokens */
	--hue: 190;
	--pop-hue: calc(var(--hue) - 180);

	/* Brightest
	 *
	 * Text Main
	 * Text Accent
	 * Muted Color
	 * Decal Color
	 * Component Color
	 * Background Color
	 *
	 * Darkest
	 */

    /*
     * MAKE A SCRIPT THAT LETS ME EXPORT SETS OF THESE HSL VALUES TO
     * HEX FOR MY TERMINAL THEME!!
     */

    /* Design Tokens */

	--background-color: hsl(var(--hue), 90%, 3%);

	--pop-color: hsl(var(--pop-hue), 50%, 60%);
	--decal-color: hsl(var(--hue), 60%, 40%);
	--component-color: hsl(var(--hue), 80%, 7%);

	--text-main-color: hsl(var(--hue), 80%, 84%);
	--text-accent-color: hsl(var(--hue), 80%, 77%);

	--font-display: 'Mali';
	--font-body: 'Atkinson Hyperlegible', sans-serif;

	--border-inline-radius: 2px;
	--border-radius: 6px;




    /* EXAMPLES */

    --typography-size-200: 2rem;
    --layout-spacing-200: 2rem;
    --layout-spacing-100: 1rem;

    --box-padding: var(--layout-spacing-100);
}