:root { 
	--hue: 190;
	--pop-hue: calc(var(--hue) - 180);

	--background-color: hsl(var(--hue), 90%, 3%);

	--pop-color: hsl(var(--pop-hue), 50%, 60%);
	--decal-color: hsl(var(--hue), 50%, 15%);
	--component-color: hsl(var(--hue), 80%, 7%);

	--text-main-color: hsl(var(--hue), 80%, 84%);
	--text-accent-color: hsl(var(--hue), 80%, 77%);

	--font-display: 'Mali';
	--font-body: 'Atkinson Hyperlegible', sans-serif;

	--border-radius: 6px;
}

@media (prefers-color-scheme: light) {}
@media (prefers-contrast: more) {}
@media (forced-colors: active) {}

* { 
	scroll-behavior: smooth;
	scroll-margin-top: 8rem;
}

*:focus-visible { 
	outline: 2px solid var(--text-accent-color);
}

/* *:target
{
	background-color: var(--component-color);
} */

/* *:not(li):target::before
{
	content: "⤏ ";
	color: var(--pop-color)
} */

*:target
{
	background-color: var(--component-color);
	outline: 1px dashed var(--text-main-color);
	/* background-color: var(--component-color); */
}

::selection { 
	background-color: var(--component-color);
}

li::marker { 
	color: var(--decal-color);
}

ul li::marker { 
	content: "⤏ ";
}

/* Pro/Con Lists */

ul li.pro::marker { 
	content: "+ ";
}

ul li.con::marker { 
	content: "‒ ";
}

/* Checklists */

ul li.done::marker { 
	content: "✓ ";
}

ul li.notdone::marker { 
	content: "✗ ";
}

mark {
	background-color: var(--component-color);
	color: inherit;

	padding-inline: 0.25em;
	border-radius: 3px;
}

mark::selection
{
	background-color: var(--background-color);
}

body {
	font-family: var(--font-body);
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: var(--background-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--text-main-color);
}

h1, h2, h3, h4, h5, h6 { 
	font-family: var(--font-display);
	text-wrap: balance;
}

img {
	max-width: 100%;
	height: auto;
}

table {
	width: 100%;
}

table tr,
table td,
table th { 
	padding: 4px;
	border-radius: var(--border-radius);
}

table th,
table tr:hover td { 
	background-color: var(--component-color);
}

code
{
	background-color: var(--component-color);
	color: inherit;

	padding-inline: 0.25em;
	border-radius: 3px;
}

code::selection,
.button::selection
{
	background-color: var(--background-color);
}

code,
pre > code,
pre:has(code) {
	/* all: unset; */
	word-wrap: pre;
	font-family: monospace;
	font-size: 1.1em;

	background-color: var(--component-color);
}

pre,
pre:has(code) { 
	display: block;
	width: 100%;
	padding: 1em;
	margin-block: 1em;
	border-radius: var(--border-radius);

	overflow: scroll;
	max-height: 80ch;
}


code:not(pre code) { 
	padding-inline: 0.25em;
	border-radius: 3px;
}

a, a:visited { 
	color: var(--text-accent-color);

	text-decoration: underline 1px dashed var(--text-accent-color);
}

a:hover { 
	text-decoration: underline 1px solid var(--text-accent-color);
}

hr { 
	border-top: 1px dotted var(--decal-color);
}

.text-svg {
	width: 1rem;
	height: 1rem;
	translate: 0px 2px 0px;
}

.sr-only
{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	transform: 100vmax 100vmax 100vmax
}

blockquote
{
	margin-left: 0;
	padding-left: 1rem;
	border-left: 1px dashed var(--decal-color);
	position: relative;
}

blockquote::before
{
	content: open-quote;
	position: absolute;
	color: var(--decal-color);
	font-size: 5rem;
	z-index: -1;

	top: -2.5rem;
	left: 0rem;
}

blockquote::after
{
	content: close-quote;
	position: absolute;
	color: var(--decal-color);
	font-size: 5rem;
	z-index: -1;

	bottom: -2.5rem;
	right: 0rem;
}

sup
{
	font-style: normal;
}

cite a
{
	text-decoration: 1px solid underline var(--text-accent-color);
}

del, s
{
	color: var(--decal-color);
	text-decoration: 1px dashed line-through var(--text-accent-color);
	/* text-decoration: 1px wavy line-through var(--text-accent-color); */
}