---
import Layout from '../layouts/TextPost.astro';
---

<Layout
	title="My Links"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('10 August 2022')}
	heroImage="/placeholder-about.jpg"
>
    <h2>9.X.X</h2>

	<h3>24 July 2023 (9.0.1:content-update.1)</h3>
	<p>Edited contents of /dni/</p>

	<h3>22 July 2023 (9.0.1)</h3>
	<p>Removed color pallet page (moved into theme)</p>

	<h3>21 July 2023 (9.0.1)</h3>
	<p>Added color pallet page.</p>

    <h3>6 July 2023 (9.0.0)</h3>
	<p>Refactored into Astro.</p>
</Layout>