---
import Layout from '../layouts/TextPost.astro';
---

<Layout
	title="My Links"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('10 August 2022')}
	heroImage="/placeholder-about.jpg"
>
    <h2>9.X.X</h2>
    <p>Refactored into Astro.</p>

    <h3>6 July 2023 (9.0.0)</h3>
</Layout>