---
import Layout from '../layouts/TextPost.astro';
---

<Layout
	title="Do Not Interact List"
	description="A list of things I don't want you to interact with you for."
	pubDate={new Date('06 July 2023')}
	updatedDate={new Date('06 July 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>To save us both time, I have compiled this list. Do not attempt to follow, talk, message, or otherwise engage with me if you fit this list. You will be blocked, and you will get at most a link to this page.</p>

	<h2>Hard DNI's</h2>
	<p>Block on sight.</p>

	<ul>
		<li>Do not support ALL queer and neurodivergent people.</li>
		<ul>
		</ul>
		<li>Have a "minors DNI" DNI.</li>
		<ul>
			<li>You are making it much harder for many queer people to find community and support.</li>
			<li>If you post lewed stuff, you can tag indevidual posts or comments. Its also not much to worry about, they will find and interact with it anyway.</li>
			<li>If its porn/explictly porn, its fine, but I would still prefer inevidual post tags.</li>
		</ul>
		<li>Are on an instance owned by or that federates with big tech. Including, but not limited to:</li>
		<ul>
			<li>Facebook Threads (threads.net)</li>
		</ul>
		<li>Negative Rep instance. This is mostly instances with bad/weird rules, ones that host toxicity, etc.</li>
		<li>"ALPHA MALE" types.</li>
	</ul>

	<h2>Soft DNI's</h2>
	<p>I will wait on an action or ask you to clarify.</p>

	<ul>
		<li>No bio / PFP / Bannar / Post History will lead me to ask for clarification. I don't care if your profile picture and stuff is <a href="https://www.youtube.com/watch?v=UhLo2D3QBCs">tumblr style malicious compliance</a>, but you need <em>something</em>.</li>
		<li>New instance. I will ask a bit about you and why you want to follow me.</li>
		<li>People with highly stylized usernames, such as using math symbols for thier letters. Most screen readers can't read that stuff, and my dyslexic ass often can't process it.</li>
	</ul>
</Layout>