---
const today = new Date();
---

<footer>
	<p>v<strong>9</strong>.0.0 is built with <a href="https://astro.build/">Astro</a> and is inspired by <a href="https://basil.cafe/">basil.cafe</a>.</p>
	&copy; 2022–{today.getFullYear()} tryoxiss. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
