---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

var { href, class: className, ...props } = Astro.props;

// hisses at ts
function add_trailing_slash(href: any)
{
	href = href.toString()

	if ((href == "") || (href.endsWith("/"))) { return href }

	return href + "/";
}

var uri: string = add_trailing_slash(href)

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={uri}
	class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
a {
	display: inline-block;
	margin-right: 10px;
}
a.active {
	font-weight: bolder;
}
</style>
